<footer>
    <h4> Thanks for visiting us !!!</h4>
    <p> For more information click on the link below</p>
    <p> <a href="/help">More Info</a></p>
</footer>

{{! HTML provides us with a footer element which we can use to house our footer content.
    Using this we can target everything that belongs to footer using CSS }}
     