<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/clouds.png">
</head>

<body>
    {{title}}
    <p> {{errorMessage}}</p>
    <p> Click Here to get back to Homepage</p>
    <p><a href="/">Click Here</a></p>
</body>

</html>

{{! 
    <title> Error </title>        // title for web-page in opened tab
    Add title element in head element of html
}}

{{!
    <link rel="icon" href="/img/clouds.png">
    This is to add icon in tab on browser
}}